<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle direct requests to resources in public/
    RewriteCond %{REQUEST_URI} !^/public/
    # Rewrite to the public folder - removing conditions that prevented redirection
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
